* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background: rgb(235, 235, 235);
    font-family: 'Inter', sans-serif;
}

#top, #bottom, #left, #right {
    background: white;
    position: fixed;
}
    
#left, #right {
	height: 100%;
	width: 50px;
}

#left {
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-item {
    writing-mode: tb-rl;
    text-decoration: none;
    margin-bottom: 2em;
    color: inherit;
    position: relative;
}

.navbar-item::after {
    content: '';
    position: absolute;
    right: 1.25em;
    top: 50%;
    width: 3px;
    background: #FDD935;
    transition: height 0.3s ease 0s, top 0.3s ease 0s;
    height: 0;
}

.navbar-item:hover::after {
    height: calc(100%);
    top: 0;
}

#right {
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.social-link {
    height: 24px;
    width: 24px;
    margin-bottom: 1em;
}
		
#top, #bottom {
	width: 100%;
	height: 50px;
}

#top {
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
}

.logo {
    cursor: pointer;
    margin-left: 100px;
}

.resume {
    margin-left: auto;
    margin-right: 100px;
    text-decoration: none;
    color: inherit;
}

#bottom {
    bottom: 0;
    z-index: 1;
}

.content {
    width: 100%;
    height: 100%;
    padding: 50px;
}

#home {
    height: 100%;
    width: 100%;
    position: relative;
}

.home-title {
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 3.5em;
    background: #FDD935;
}

.center-left {
    position: absolute;
    display: inline-block;
    text-align: left;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 1em;
}

#projects {
    position: relative;
    background: rgb(220, 220, 220);
}

#work {
    position: relative;
}

#about {
    position: relative;
    background: rgb(220, 220, 220);
}

#contact {
    position: relative;
    overflow: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5% 5%;
}

.navbar-links {
    list-style: none;
}

.navbar-links li {
    display: inline-block;
    padding: 0 0.5em;
}

.navbar-links li a {
    text-decoration: none;
    color: inherit;
    position: relative;
}

.navbar-links li a::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 1.25em;
    height: 2px;
    background: #ff3627;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.navbar-links li a:hover::after {
    width: 100%;
    left: 0;
}

button {
    padding: 0.5em 1em;
    background: #ff3627;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    color: white;
    transition: all 0.3s ease 0s;
}

button:hover {
    background: hsl(4, 100%, 58%, 0.8)
}





