* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

.container {
    height: 100%;
    display: flex;
    overflow: hidden;
}

.navbar {
    height: 100%;
}

.content {
    height: 100%;
    flex-grow: 1;
    overflow: auto;
}

