* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background: rgb(235, 235, 235);
    color: black;
    font-family: 'Inter', sans-serif;
}

.container {
    height: 100%;
    margin: 0 5%;
    position: relative;
}

section {
    height: 100%;
    position: relative;
}

#home {
    height: 100%;
    position: relative;
}

mark {
    background: rgb(0,128,128, 1);
    color: white;
    padding: 0 0.1em;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5% 0;
}

.logo {
    cursor: pointer;
}

.navbar-links {
    list-style: none;
}

.navbar-links li {
    display: inline-block;
    padding: 0 0.5em;
}

.navbar-links li a {
    text-decoration: none;
    color: inherit;
    position: relative;
}

.navbar-links li a::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 1.25em;
    height: 2px;
    background: rgb(0,128,128);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.navbar-links li a:hover::after {
    width: 100%;
    left: 0;
}

button {
    padding: 0.5em 1em;
    background: rgb(0,128,128,1);
    border: none;
    border-radius: 1em;
    cursor: pointer;
    color: white;
    transition: all 0.3s ease 0s;
}

button:hover {
    background: rgb(0,128,128,0.8);
}

.home-text {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.title {
    font-size: 4em;
}

.right {
    text-align: right;
}

.links {
    margin-top: 32px;
}

.link-logo {
    margin-right: 24px;
    width: 32px;
    height: 32px;
}

.bg {
    position: absolute;
    z-index: 0;
    display: block;
    height: 100%; 
    width: 100%;
    overflow: hidden;
}

.content {
    position:absolute;
    z-index: 1;
}

.bg-text {
    color:rgb(11, 11, 11);
    font-size: 50em;
}


